<ng-container *ngIf="(tempSensors$ | async) as tempSensors">
  <div *ngFor="let data of tempSensors; trackBy: trackBySensorName">
    <mat-expansion-panel #expansionPanel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="icon-text text-pink-glow">
          {{ data.name }}
        </mat-panel-title>
        <mat-panel-description class="icon-text text-pink-glow">
          {{ (data.states?.[(data.states?.length ?? 1) -1]?.temp)?.toFixed(1) }} °C
          <span class="voltage">{{data.voltage?.toFixed(1)}} V</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="data.chartData && expansionPanel.expanded">
        <div class="chart-container">
          <canvas baseChart
                  [data]="data.chartData"
                  [options]="data.chartOptions"
                  [legend]="false"
                  [type]="'line'">
          </canvas>
          <div class="axis">
            <div
              *ngFor="let tempdate of data.states"
              class="tick"
            >
              <div class="value">
                {{tempdate.temp.toFixed(1)}} °C
              </div>
              <div class="dayOfWeek">
                <span>{{ toWeekDay(tempdate.timestamp) }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-expansion-panel>
    <br/>
  </div>
</ng-container>

