<ng-container *ngIf="(tempSensors$ | async) as tempSensors">
  <div *ngFor="let data of tempSensors; trackBy: trackBySensorName">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="icon-text text-pink-glow">
          {{ data.name }}
        </mat-panel-title>
        <mat-panel-description class="icon-text text-pink-glow">
          {{ data.states?.[(data.states?.length ?? 1) -1]?.temp }} °C
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngIf="data.chartData">
          <canvas baseChart
                  [data]="data.chartData"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="false"
                  [type]="'bar'">
          </canvas>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </div>
</ng-container>

