/* You can add global styles to this file, and also import other style files */

@import "color.scss";

html, body { height: 100%; margin: 0; }
body {
  box-sizing: border-box;
  color: $foregroundA;
  background-color: $background01;
  font-family:
  Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mat-icon {
  vertical-align: middle;
}
.icon-text {
  display: flex;
  align-items: center;
}

.mat-expansion-panel {
  max-width: 400px;
  background-color: $background02;
  .mat-expansion-indicator {
    color: $foregroundA;
    fill: $foregroundA;
  }
}
.mat-expansion-indicator::after { color: $foregroundA; }
.mat-card {
  max-width: 400px;
  background-color: $background02;
}

.mat-slider-notrack {
  .mat-slider-track-fill,
  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-track-background {
      height: 0px !important;
  }
}

.mat-drawer {
  background-color: $background03;
  color: $foregroundA;
}
.mat-drawer-container {
  background-color: $background01;
  color: $foregroundA;
}
